body {
  background-color: black;
}

svg {
  border: 1px solid gray;
}

svg .piece {
  cursor: move;
}

#piece0 {
  fill: red;
}

#piece1 {
  fill: white;
}

#piece2 {
  fill: blue;
}

#piece25 {
  fill: aqua;
}

#piece26 {
  fill: pink;
}

#piece27 {
  fill: purple;
}

#boards-panel {
  width: 400px;
  height: 90vh;
  border-left: 4px solid #999999;
  position: absolute;
  right: 40px;
  top: 40px;
  margin-left: auto;
  margin-right: auto;
}

#boards-panel #new-board-button {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  float: none;
}

#boards-panel ul {
  margin: 0px;
}

#boards-panel .board-li {
  line-height: 100px;
  width: 100%;
  font-family: monospace;
  height: 100px;
  vertical-align: middle;
  border-top: 2px solid #999999;
  text-decoration: none;
  overflow: hidden;
  font-size: 36px;
  color: #4d4d4d;
}

#boards-panel .board-li.selected {
  color: white;
}

.ccboard-button img {
  width: 100px;
  height: 100px;
}

div.ccboard-button {
  float: left;
  margin-right: 20px;
  width: 100px;
  height: 100px;
}

div.buttons-set {
  width: 680px;
}

#move-buttons {
  position: absolute;
  left: 40px;
  top: 40px;
}

#bottom-buttons {
  position: absolute;
  left: 40px;
  bottom: 40px;
}