body {
  background-color: black;
}

svg {

}

svg .piece {
  cursor: move;
}

.static-piece {
  fill: #999;
}

#player-piece5 {
  fill: #aaff01;
}

#player-piece1 {
  fill: #aaff01;
}

#player-piece3 {
  fill: #aaff01;
}

#player-piece4 {
  fill: #aaff01;
}

#player-piece9 {
  fill: #aaff01;
}

#player-piece7 {
  fill: #aaff01;
}

#player-piece2 {
  fill: #aaff01;
}

#player-piece6 {
  fill: #aaff01;
}

#player-piece0 {
  fill: #aaff01;
}

#player-piece8 {
  fill: #aaff01;
}

#player-piece46 {
  fill: #ffaa01;
}

#player-piece19 {
  fill: #ffaa01;
}

#player-piece55 {
  fill: #ffaa01;
}

#player-piece44 {
  fill: #ffaa01;
}

#player-piece23 {
  fill: #ffaa01;
}

#player-piece36 {
  fill: #ffaa01;
}

#player-piece25 {
  fill: #ffaa01;
}

#player-piece21 {
  fill: #ffaa01;
}

#player-piece32 {
  fill: #ffaa01;
}

#player-piece34 {
  fill: #ffaa01;
}

#player-piece108 {
  fill: #ff00aa;
}

#player-piece110 {
  fill: #ff00aa;
}

#player-piece85 {
  fill: #ff00aa;
}

#player-piece75 {
  fill: #ff00aa;
}

#player-piece87 {
  fill: #ff00aa;
}

#player-piece100 {
  fill: #ff00aa;
}

#player-piece98 {
  fill: #ff00aa;
}

#player-piece109 {
  fill: #ff00aa;
}

#player-piece96 {
  fill: #ff00aa;
}

#player-piece107 {
  fill: #ff00aa;
}

#player-piece116 {
  fill: #ab00ff;
}

#player-piece115 {
  fill: #ab00ff;
}

#player-piece120 {
  fill: #ab00ff;
}

#player-piece114 {
  fill: #ab00ff;
}

#player-piece118 {
  fill: #ab00ff;
}

#player-piece111 {
  fill: #ab00ff;
}

#player-piece113 {
  fill: #ab00ff;
}

#player-piece112 {
  fill: #ab00ff;
}

#player-piece117 {
  fill: #ab00ff;
}

#player-piece119 {
  fill: #ab00ff;
}

#player-piece88 {
  fill: white;
}

#player-piece95 {
  fill: white;
}

#player-piece86 {
  fill: white;
}

#player-piece99 {
  fill: white;
}

#player-piece101 {
  fill: white;
}

#player-piece76 {
  fill: white;
}

#player-piece74 {
  fill: white;
}

#player-piece65 {
  fill: white;
}

#player-piece97 {
  fill: white;
}

#player-piece84 {
  fill: white;
}

#player-piece35 {
  fill: #00aaff;
}

#player-piece22 {
  fill: #00aaff;
}

#player-piece11 {
  fill: #00aaff;
}

#player-piece33 {
  fill: #00aaff;
}

#player-piece10 {
  fill: #00aaff;
}

#player-piece24 {
  fill: #00aaff;
}

#player-piece12 {
  fill: #00aaff;
}

#player-piece20 {
  fill: #00aaff;
}

#player-piece13 {
  fill: #00aaff;
}

#player-piece45 {
  fill: #00aaff;
}

#boards-panel {
  width: 400px;
  height: 90vh;
  border-left: 4px solid #999999;
  position: absolute;
  right: 40px;
  top: 40px;
  margin-left: auto;
  margin-right: auto;
}

#boards-panel #new-board-button {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  float: none;
}

#boards-panel ul {
  margin: 0px;
}

#boards-panel .board-li {
  line-height: 100px;
  width: 100%;
  font-family: monospace;
  height: 100px;
  vertical-align: middle;
  border-top: 2px solid #999999;
  text-decoration: none;
  overflow: hidden;
  font-size: 36px;
  color: #4d4d4d;
}

#boards-panel .board-li.selected {
  color: white;
}

#boards-panel #new-board-input {

}

.ccboard-button img {
  width: 100px;
  height: 100px;
}

div.ccboard-button {
  float: left;
  margin-right: 20px;
  width: 100px;
  height: 100px;
}

div.buttons-set {
  width: 680px;
}

#move-buttons {
  position: absolute;
  left: 40px;
  top: 40px;
}

#bottom-buttons {
  position: absolute;
  left: 40px;
  bottom: 40px;
}